<header>
	<h1>Aston Events</h1>
</header>

<button onclick="changeInterest(this)" value="Like" id="interest9">Test</button>

<script>
	function setEvent(event_id, button) {

		var type = button.value;

		if (type === "View") {

			document.getElementById("event_id").value = event_id;
			document.getElementById("type").value = "view";
			document.getElementById("eventForm").setAttribute("method", "get");

		} else if (type === "Like") {

			document.getElementById("event_id").value = event_id;
			document.getElementById("type").value = "like";
			document.getElementById("eventForm").setAttribute("method", "post");

		} else if (type === "Unlike") {

			document.getElementById("event_id").value = event_id;
			document.getElementById("type").value = "unlike";
			document.getElementById("eventForm").setAttribute("method", "post");

		}
	}

	function changeInterest(button) {
		
		var event_id = button.id.replace("interest", "");
		var currentValue = (button.value === "Like") ? "like" : "unlike";
		
		$.ajax({
	        url: "/CS2410/coursework/interest",
	        data: {
	            "event_id" : event_id,
	            "state" : currentValue
	        },
	        type: 'POST',
	        success: function(response) {
	           
	        	// Do the thing
	        	console.log("Success");
	            
	        },
	        error: function(XMLHttpRequest, textStatus, errorThrown) { 
	            alert("Update failed - Sorry about that"); 
	           
	        }
	    });
		
	}

</script>