<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>CS2410 Coursework</title>
<link href="/default.css" rel="stylesheet" type="text/css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed pull-right"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<img class="pull-left navbar-brand" src="/aston-logo.png"
					style="padding-top: 10px; padding-bottom: 10px; height: 50px" />
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="#">Login<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="coursework/login-student">Student Login</a></li>
							<li><a href="coursework/login-organiser">Organiser Login</a></li>
						</ul></li>

				</ul>
			</div>

		</div>
	</nav>
	<header>
		<h1>Aston Events</h1>
	</header>
	<section>
		<p>Welcome to Aston events. The event organising and tracking tool
			for the students of Aston University.</p>

	</section>

</body>
</html>