<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>CS2410 Coursework</title>
<link href="/default.css" rel="stylesheet" type="text/css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
<!--      <a href="<? echo $baseUrl?>/" class="navbar-brand">Baseline</a> -->
      <a href="<? echo $baseUrl?>/" class="navbar-brand">
        <img style="padding: 0;" alt="Brand" src="<? echo $baseUrl?>/images/AstonLogo1.png">
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tests
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="<? echo $baseUrl?>/private/test1">Basic Arithmetic</a></li>
            <li><a href="<? echo $baseUrl?>/private/test2">Algebra</a></li>
            <li><a href="<? echo $baseUrl?>/private/test3">Fractions, Decimals and Percentages</a></li> 
            <li><a href="<? echo $baseUrl?>/private/test4">Roots, Powers and Surds</a></li>
            <li><a href="<? echo $baseUrl?>/private/test5">Engineering Mathematics</a></li>
          </ul>
        </li>      

      <li><a href="<? echo $baseUrl?>/private/videos">Videos</a></li> 
      <li><a href="<? echo $baseUrl?>/private/myprogress">My Progress</a></li>
      <li><a href="#" id="help">Help</a></li>
	    <li><a href="<? echo $baseUrl?>/logout">Logout</a></li>	  
<?endif;?>
	  </ul>

    </div>
  </div>
</nav> 

	<div id="main-title" class="sm-col-12">
		<h1>Aston Events Login</h1>
	</div>

	<p>What do you want fam!!!</p>

	<form onsubmit="validate()" method="GET">
		Username: <input type="text" name="username" /><br> Password: <input
			type="password" name="password" /><br> <input type="submit"
			value="Login" />
	</form>
	<script type="text/javascript">
		const apiRoot = 'http://localhost/CS2410/coursework/:3000';

		function validate() {

			// Make a GET request to the API Root
			get(apiRoot, function(err, res) {

				// If there are errors, handle them. Otherwise handle the response.
				if (err) {
					console.log("There was an Error: " + err.message);
				} else {
					console.log("There was no error, you are the GOAT");
				}
			})
		}

		function get(theUrl, callback) {
			var xmlHttp = new XMLHttpRequest();
			xmlHttp.onreadystatechange = function() {
				if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
					callback(xmlHttp.responseText);
			}
			xmlHttp.open("GET", theUrl, true); // true for asynchronous 
			xmlHttp.send();
		}
	</script>

</body>
</html>