<header>
	<h1>Aston Events</h1>
</header>
<div class="container">
	<div style="text-align: center">
		<h2>Welcome!</h2>
		<h3>Aston Events is the event organising and tracking tool for
			the students of Aston University.</h3>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-6 pull-left">
			<h3>Orgainise a guest lecture for members of your favourite
				society. It also helps Aston build ties with other acedemics. In
				2017 alone over 400 guest lectures appeared in seminars and
				confrences at Aston University. Knowledge should be shared!</h3>
		</div>
		<div class="col-xs-12 col-md-6 pull-right">
			<img alt="intro" src="/assets/example_event.jpg"
				style="max-width: 100%; max-height: 100%; position: center;">
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-md-6 pull-left">
			<img alt="intro" src="/assets/culture.jpg"
				style="max-width: 100%; max-height: 100%; position: center;">
		</div>
		<div class="col-xs-12 col-md-6 pull-right">
			<h3>Orgainse a culture event to spread awareness of your cause
				and bring people together. Aston University is one of the most
				ethnically diverse universities in the United Kingdom and we are
				proud of it. Together we rise!</h3>
		</div>

	</div>
</div>