<header>
	<h1>Aston Events</h1>
</header>
<div class=" col-xs-12 col-sm-6 pull-left">
	<div class="panel panel-default">
		<div class="panel-heading">Login</div>
		<div class="panel-body">
			<form id="login" name="login" action="/login"
				onsubmit="return validateLogin()" method="post">

				<input hidden type="text" name="status" value="login" />

				<div class="form-group">
					<label for="login_email">Email:</label> <input type="email"
						class="form-control" name="email" id="login_email" />
				</div>

				<div class="form-group">
					<label for="login_password">Password:</label> <input
						type="password" name="password" id="login_password"
						class="form-control" />
				</div>

				<button class="btn btn-primary" type="submit" form="login"
					value="Login">Login</button>
			</form>
		</div>
	</div>
</div>
<div class=" col-xs-12 col-sm-6 pull-right">
	<div class="panel panel-default">
		<div class="panel-heading">New Student?</div>
		<div class="panel-body">
			<form id="signup" name="signup" action="/login"
				onsubmit="return validateSignup()" method="post">

				<input hidden type="text" name="status" value="signup" />

				<div class="form-group">
					<label for="signup_email">Email:</label> <input type="email"
						name="email" id="signup_email" class="form-control" />
				</div>

				<div class="form-group">
					<label for="signup_name">Full Name:</label> <input type="text"
						name="name" id="signup_name" class="form-control" />
				</div>

				<div class="form-group">
					<label for="signup_password">Password:</label> <input
						type="password" name="password" id="signup_password"
						class="form-control" />
				</div>

				<div class="form-group">
					<label for="signup_repassword">Retype Password:</label> <input
						type="password" name="repassword" id="signup_repassword"
						class="form-control" />
				</div>

				<div class="form-group">
					<label for="signup_dob">Data Of Birth:</label> <input type="date"
						name="dob" id="signup_dob" class="form-control" />
				</div>

				<div class="form-group">
					<label for="signup_telephone">Telephone:</label> <input type="text"
						name="telephone" id="signup_telephone" class="form-control" />
				</div>

				<button class="btn btn-primary" type="submit" form="signup"
					value="Register">Register</button>
			</form>
		</div>
	</div>
</div>
<script src="/scripts/loginValidator.js"></script>