<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 id="title">New Event</h2>
		</div>
		<div class="panel-body">
			<form id="event" enctype="multipart/form-data" name="event"
				action="/organise"
				onsubmit="return validateEvent()" method="post">

				<!-- Name -->
				<div class="form-group">
					<label for="name">Name:</label> <input type="text" name="name"
						id="name" class="form-control" />
				</div>

				<!-- Type -->
				<div class="form-group">
					<label for="type">Type:</label>
					<div class="radio">
						<label><input type="radio" value="sport" name="type">Sport</label>
					</div>
					<div class="radio">
						<label><input type="radio" value="culture" name="type">Culture</label>
					</div>
					<div class="radio">
						<label><input type="radio" value="other" name="type"
							checked="checked">Other</label>
					</div>
				</div>

				<!-- Location -->
				<div class="form-group">
					<label for="location">Location:</label> <input type="text"
						name="location" id="location" class="form-control" />
				</div>

				<!-- Time -->
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="date">Date:</label> <input type="date" name="date"
								id="date" class="form-control" />
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="time">Time:</label> <input type="time" name="time"
								id="time" class="form-control" />
						</div>
					</div>
				</div>

				<!-- Description -->
				<div class="form-group">
					<label for="description">Description:</label>
					<textarea class="form-control" id="description" rows="5"
						name="description"></textarea>
				</div>

				<!-- Picture -->
				<div class="col-sm-12">
					<div id="pictureSection" class="form-group panel panel-default">
						<div class="panel-heading" id="imageContainerHeader">
							<label>Picture:</label>
							<button id="addPicture" class="btn btn-info" type="button"
								style="" onclick="addPictureInput()" value="+">+</button>

						</div>
						<div id="imageContainer" class="panel-body">

							<div class="imageInput col-sm-3">
								<input type="file" name="picture0" id="picture0"
									class="form-control" accept=".png,.jpg"
									onchange="readURL(this)" /> <img id="preview0"
									src="No Picture" alt="profile picture"
									style="width: 100%; height: 100%" /> <input hidden type="text"
									name="pName0" id="pName0" />';
							</div>

						</div>
					</div>
				</div>

				<!-- Submit Button -->
				<button class="btn btn-primary" type="submit" form="event"
					value="Save">Save</button>

			</form>
		</div>
	</div>
</div>

<script>
	var numberOfPictures = document.getElementById("imageContainer").childElementCount - 1;

	function addPictureInput() {

		numberOfPictures++;

		var imageInput = document.createElement('div');
		imageInput.setAttribute("class", "imageInput col-sm-3");

		var input = document.createElement('input');
		input.setAttribute("class", "picture form-control");
		input.setAttribute("type", "file");
		input.setAttribute("name", "picture" + numberOfPictures);
		input.setAttribute("id", "picture" + numberOfPictures);
		input.onchange = function() {
			readURL(input);
		};

		var img = document.createElement('img');
		img.setAttribute("src", "No Picture");
		img.setAttribute("style", "width: 100%; height: 100%");
		img.setAttribute("alt", "event picture");
		img.setAttribute("id", "preview" + numberOfPictures);

		var text = document.createElement('input');
		text.style.visibility = "hidden";
		text.setAttribute("type", "text");
		text.setAttribute("name", "pName" + numberOfPictures);
		text.setAttribute("id", "pName" + numberOfPictures);

		imageInput.appendChild(input);
		imageInput.appendChild(img);
		imageInput.appendChild(text);

		document.getElementById("imageContainer").appendChild(imageInput);

		if (numberOfPictures == 3) {
			document.getElementById("imageContainerHeader").removeChild(document.getElementById("addPicture"));
		}

	}

	function readURL(input) {

		if (input.files && input.files[0]) {

			var reader = new FileReader();
			var number = input.name.replace('picture', '');
			var filename = input.value.split(/(\\|\/)/g).pop();

			reader.onload = function(e) {

				document.getElementById("pName" + number).value = filename;

				var id = '#preview' + number;

				$(id).attr('src', e.target.result);
			}
			reader.readAsDataURL(input.files[0]);
		}
	}

	function validateEvent() {

		var name = document.getElementById("name").value;
		var description = document.getElementById("description").value;
		var time = document.getElementById("time").value;
		var location = document.getElementById("location").value;
		var date = document.getElementById("date").value;

		if (name == "") {
			alert("Name must be filled out");
			return false;
		}

		if (description == "") {
			alert("Description must be filled out");
			return false;
		}

		if (time == "") {
			alert("Time must be filled out");
			return false;
		}
		
		if (date == "") {
			alert("Date must be filled out");
			return false;
		}

		if (location == "") {
			alert("Location must be filled out");
			return false;
		}

		return true;

	}
</script>