<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 id="title">New Event</h2>
		</div>
		<div class="panel-body">
			<form id="event" enctype="multipart/form-data" name="event"
				action="/organise"
				onsubmit="return validateEvent()" method="post">

				<!-- Name -->
				<div class="form-group">
					<label for="name">Name:</label> <input type="text" name="name"
						id="name" class="form-control" />
				</div>

				<!-- Type -->
				<div class="form-group">
					<label for="type">Type:</label>
					<div class="radio">
						<label><input type="radio" value="sport" name="type">Sport</label>
					</div>
					<div class="radio">
						<label><input type="radio" value="culture" name="type">Culture</label>
					</div>
					<div class="radio">
						<label><input type="radio" value="other" name="type"
							checked="checked">Other</label>
					</div>
				</div>

				<!-- Location -->
				<div class="form-group">
					<label for="location">Location:</label> <input type="text"
						name="location" id="location" class="form-control" />
				</div>

				<!-- Time -->
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="date">Date:</label> <input type="date" name="date"
								id="date" class="form-control" />
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="time">Time:</label> <input type="time" name="time"
								id="time" class="form-control" />
						</div>
					</div>
				</div>

				<!-- Description -->
				<div class="form-group">
					<label for="description">Description:</label>
					<textarea class="form-control" id="description" rows="5"
						name="description"></textarea>
				</div>

				<!-- Picture -->
				<div class="col-sm-12">
					<div id="pictureSection" class="form-group panel panel-default">
						<div class="panel-heading" id="imageContainerHeader">
							<label>Picture:</label>
							<button id="addPicture" class="btn btn-info" type="button"
								style="" onclick="addPictureInput()" value="+">+</button>

						</div>
						<div id="imageContainer" class="panel-body">

							<div class="imageInput col-sm-3">
								<input type="file" name="picture0" id="picture0"
									class="form-control" accept=".png,.jpg"
									onchange="readURL(this)" /> <img id="preview0"
									src="No Picture" alt="profile picture"
									style="width: 100%; height: 100%" /> <input hidden type="text"
									name="pName0" id="pName0" />';
							</div>

						</div>
					</div>
				</div>

				<!-- Submit Button -->
				<button class="btn btn-primary" type="submit" form="event"
					value="Save">Save</button>

			</form>
		</div>
	</div>
</div>
<script type="text/javascript" src="/scripts/previewImage.js"></script>
<script type="text/javascript" src="/scripts/eventValidator.js"></script>