#main-title h1 {
	color: ffffff;
	padding-top: 150px;
}

.navbar {
	margin-bottom: 0;
}

body {
	display: block;
	overflow: hidden;
	margin: 0%;
}

#main-title {
	height: 200px;
	width: 100%;
	background-image: url("aston.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	line-height: 150px;
	vertical-align: middle;
	text-align: center;
	color: white;
}