#main-title h1 {
	color: ffffff;
	padding-top: 150px;
}

body {
	margin: 0 auto;
}

#main-title {
	height: 200px;
	width: 100%;
	background-image: url("aston.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	vertical-align: middle;
	text-align: center;
	color: white;
}